<h2> Original Url:</h2>
<%=link_to "Original Url", @original_url%> : <p><%=@original_url%></p>
<h2> Shortened Url:</h2>
<%=link_to "Shortened Url", @short_url, target: :_blank, rel: [:noopener, :noreferrer]%> : <p><%=@short_url%></p>
